html {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(42, 21, 66);
}

.center {
    width: 100%;
    height: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

.centeredNoGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered {
    margin-top: 300px;
}


.plots {
    display: flex;
    justify-content:space-around;
}

.plots-2 {
    display: flex;
    justify-content:center;
}

.title {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
}

.centerElements {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 15px;
}

.leftElement {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.rightElement {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.footer {
    margin-top: 100px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

h1 {
    margin: auto !important;
    font-size: 100px;
    text-align: center;
    color: rgb(17, 207, 255);
}

h2 {
    margin: auto !important;
    font-size: 60px;
    text-align: center;
    color: rgb(17, 207, 255);
}

h3 {
    margin: auto !important;
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
}

p {
    font-size: 20px;
    text-align: center;
}

.about {
    font-size: 20px;
    text-align: center;
    color: rgb(163, 163, 163);
}

.levelG {
    font-size: 25px;
    text-align: center;
    color: rgb(163, 163, 163);
}

.red {
    color:#B80F0A;
}

.orange {
    color:#FFA500;
}

.yellow {
    color: #FFD300;
}

.lightgreen {
    color: #12E772;
}

.lightblue {
    color: #0077B6;
}

.placeholder {
    color: #001C57;
}

.turquoise {
    color:#3BD6C6;
}

.purple {
    color: #934AB3;
}

.pink {
    color: #C6267B;
}

.usernamePlaceholder {
    color: rgb(193, 193, 193);
}

.usernameStyle {
    font-size: 50px;
}

.bolded { font-weight: bold; }

.gameOwnedName {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
    color: #001C57;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gameOwnedSpent {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
    color: #001C57;
    margin-top: 185px;
}

#profile-picture {
    height: 626px;
    width: 600px;
    border: 3px solid black;
    border-style: solid;
    margin-right: 25px;
    margin-bottom: 30;
    border-radius: 10px
}

#dot_1 {
    height: 20px;
    width: 20px;
    border: 1px solid #000000;
    border-style: solid;
    background-color: rgb(0, 255, 8);
    border-radius: 50%;
    display: inline-block;
}

#dot_2 {
    height: 20px;
    width: 20px;
    border: 1px solid #000000;
    border-style: solid;
    background-color: rgb(62, 65, 62);
    border-radius: 50%;
    display: inline-block;
}

#rectangle-1 {
    height: 125px;
    width: 2460px;
    border: 2px solid #C1C1C1;
    border-style: solid;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

#rectangle-2 {
    height: 626px;
    width: 600px;
    border: 3px solid black;
    border-style: solid;
    background-color: rgb(193, 193, 193);
    margin-right: 25px;
    border-radius: 10px;
}

#rectangle-3-1-1-1 {
    height: 50px;
    width: 1000px;
    border: 1px solid black;
    border-style: solid;
    background-color: rgb(96, 94, 94);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#rectangle-3-1-1-2 {
    height: 50px;
    width: 1000px;
    border: 1px solid black;
    border-style: solid;
    background-color: rgb(136, 14, 14);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#rectangle-3-1-1-3 {
    height: 50px;
    width: 1000px;
    border: 1px solid black;
    border-style: solid;
    background-color: rgb(153, 82, 11);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#rectangle-3-1-1-4 {
    height: 50px;
    width: 1000px;
    border: 1px solid black;
    border-style: solid;
    background-color: rgb(18, 167, 73);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#rectangle-3-1-1-5 {
    height: 50px;
    width: 1000px;
    border: 1px solid black;
    border-style: solid;
    background-color: #001C57;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#rectangle-3-1-1 {
    height: 80px;
    width: 1000px;
    border: 3px solid black;
    border-style: solid;
    background-color: rgb(193, 193, 193);
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#rectangle-3-1-2 {
    height: 66px;
    width: 1000px;
    border: 3px solid black;
    border-style: solid;
    background-color: rgb(193, 193, 193);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#rectangle-4 {
    height: 80px;
    width: 780px;
    border: 1px solid #C1C1C1;
    border-style: solid;
    background-color: rgb(0, 0, 0);
    margin-bottom: 2px;
    border-radius: 10px;
}

#rectangle-5{
    height: 1342px;
    width: 780px;
    border: 3px solid rgb(42, 21, 66);
    border-style: solid;
    background-color: rgb(42, 21, 66);
    border-radius: 10px;
}

#rectangle-5-1-1 {
    height: 250px;
    width: 390px;
    position: relative;
    border: 2px solid black;
    border-style: solid;
    background-color: rgb(193, 193, 193);
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 19px;
}

#rectangle-5-1-2 {
    height: 250px;
    width: 390px;
    position: relative;
    border: 2px solid black;
    border-style: solid;
    background-color: rgb(193, 193, 193);
    text-align: center;
    border-radius: 15px;
    margin-top: 19px;
}

#rectangle-5-2 {
    height: 175px;
    width: 340px;
    border: 1px solid black;
    border-style: solid;
    background-color: rgb(193, 193, 193);
    margin-right: 20px;
    border-radius: 5px;
}

#gameImage-1 {
    height: 175px;
    width: 340px;
    position: absolute;
    border: 1px solid black;
    border-style: solid;
    margin-left: 20px;
    border-radius: 5px;
}

#gameImage-2 {
    height: 175px;
    width: 340px;
    position: absolute;
    border: 1px solid black;
    border-style: solid;
    margin-left: -170px;
    border-radius: 5px;
}

#rectangle-6 {
    height: 70px;
    width: 1630px;
    border: 1px solid #C1C1C1;
    border-style: solid;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
    border-radius: 10px;
}

#rectangle-7 {
    height: 687px;
    width: 1630px;
    border: 3px solid rgb(42, 21, 66);
    border-style: solid;
    background-color: rgb(42, 21, 66);
    margin-top: 20px;
    border-radius: 10px;
}

#rectangle-8 {
    height: 3px;
    width: 2000px;
    background-color: rgb(163, 163, 163);
    margin-left: 273px;
}

#rectangle-9 {
    height: 230px;
    width: 2543px;
    background-color: rgb(50, 21, 66); 
}

#rectangle-10 {
    height: 80px;
    width: 2543px;
    background-color: rgb(50, 21, 66);
}

#rectangle-11 {
    height: 20px;
    width: 2543px;
    background-color: rgb(50, 21, 66);
}

#rectangle-12 {
    height: 350px;
    width: 500px;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(193, 193, 193);
    border-radius: 15px;
    margin-top: 17px;
}

#rectangle-13 {
    height: 220px;
    width: 500px;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(193, 193, 193);
    border-radius: 15px;
    margin-top: 20px;
}

#rectangle-14 {
    height: 50px;
    width: 500px;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(193, 193, 193);
    border-radius: 15px;
    margin-top: 25px;
}

#recImage {
    height: 250px;
    width: 450px;
    position: absolute;
    border: 1px solid black;
    border-style: solid;
    border-radius: 15px;
    margin-left: 25px;
}

.gameRecName {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 23px;
    color: #001C57;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gameRecSpent {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    color: #8f0c36;
    margin-top: 5px;
    margin-top: 265px;
}

.gameRecPrice {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    margin-top: -23px;
}

.gameRecDescTitle {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
    color: #0e0e0e;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gameRecDesc {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: #001C57;
    margin-top: 25px;
    width: 460px;
    word-wrap: break-word;
    text-align: justify;
    line-height: 1.7;
    z-index: 1;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.gameRecScore-1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
    color: #18a818;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gameRecScore-2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}